body {
  color: black;
}

div.sheet-container {
  background-color: white;
  width: 814px; 
  display: inline-block;
  padding: 20px 6px 20px 20px;
  /*font-family: Helvetica;*/
  /*font-weight: bold;*/
}

.sheet-title {
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 24px;
}

/* Grid System */
.sheet-new-block {
  clear: both;
}

div.sheet-col-4 {
  width: 33.33%;
  float: left;
}

div.sheet-col-8 {
  width: 66.66%;
  float: left;
}

div.sheet-col-6 {
  width: 50%;
  float: left;
}

/* Box containers for sheet sections*/
.sheet-box {
  font-family: Helvetica;
  font-weight: bold;
  background-color: #e3deda;
  /*margin: 10px 5px 10px 5px;*/
  /*height: 40px;*/
  border-top: 2px;
  border-bottom: 1px;
  border-right: 2px;
  border-left: 2px;
  border-style: solid;
  border-color: #62584d;
  margin-right: 14px;
  margin-bottom: 14px;
}

/* Input type styling */

input[type=number] {
  background-color: #e3deda;
  border-color: #62584d;  
  height: 24px !important;
  margin-bottom: 0px;
}

input[type=text] {
  /*float: right;*/
  background-color: #f2f1ef;
  margin-bottom: 0px;
  width: 40%;
  height: 22px;
}

/*input[type=checkbox] {
  margin: 0px;
  zoom: 1.5;
}*/

input.sheet-value-single {
  width: 36px !important;
  float: right;
}

td .sheet-value-single {
  background-color: #f2f1ef;
  border-color: rgb(204,204,204);
}

/* Inner sheet box table formatting */

table {
  width: 100%;
}

tr td:first-child {
  border-left: none;
}

td {
  border-left: 1px solid #62584d;
  padding: 3px;
}

/* Sheet element styling */

img.sheet-logo {
  display: block;
  margin: auto;
  padding-bottom: 22px;
}

.sheet-col-header {
  background-color: black;
  padding: 8px 6px 8px 6px;
  color: white;
  font-size: 14px;
}

.sheet-row {
  border-bottom: 1px solid #62584d;
  padding: 3px;
  /*height: 24px;*/
  font-size: 10px;
  font-weight: bold;
}

.sheet-crit-injuries {
  border-bottom: none;
  text-align: left !important;
  height: auto !important;
}

.sheet-nopad, .sheet-nopad td {
  padding: 1px !important;
  height: 28px;
  text-align: center;
  vertical-align: middle;
}

.sheet-nopad input[type=text] {
  width: 100%;
}

.sheet-dark-row {
  background-color: #a29a94;
  border-bottom: 1px solid #62584d;
  padding: 3px;
  height: 24px;
  font-size: 13px;
}

.sheet-dark-cell {
  background-color: #a29a94;
}

.sheet-dark-row span, .sheet-dark-cell span {
  position: relative;
  top: 4px;
  font-weight: bold;
}

input.sheet-checkrow-small {
  display: inline-block;
  zoom: 1.3;
  /*width: 10%;  */
}

.sheet-check-large input[type=checkbox] {
  zoom: 1.6 !important;
}

.sheet-checkrow-reload input {
  zoom: 1.0 !important;
}

tr.sheet-col-header td {
  padding: 8px 6px 8px 6px;
}

tr.sheet-col-header td:first-child {
  font-weight: bold;
}

.sheet-smalltext {
  font-size: 9px;
  font-weight: normal;
  vertical-align: middle;
}

.sheet-center {
  text-align: center;
  height: auto;
}

.sheet-justify {
  /*display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -ms-flexbox;
  justify-content: space-between;*/
  /*text-align: justify;*/
  height: auto;
}

.sheet-justify input[type=checkbox] {
  zoom: 1.3;
  margin: auto !important;
}

.sheet-headertext-general {
  position: relative;
  left: 160px;
}

/* Vertical margin adjustments */
.sheet-adjust-v1 {
  margin-top: 19px;
}

.sheet-adjust-v2 {
  position: relative;
  top: 6px;
}