body {color: black;}

.sheet-container, .sheet-container * {
  box-sizing: border-box;
}

div[class^="sheet-box-"] {
  /*border: 1px solid maroon;*/
  /*float: left;*/
}

input[type='text'] {
  width: 40%;
  height: 28px !important;
  background-color: #f2f1ef;
  border-color: rgb(204,204,204);
}

input[type='number'] {
  background-color: #f2f1ef;
  border-color: #62584d;  
  height: 28px !important;
  width: 40px !important;
  float: right;
}

/* General Table formatting */

table {
  border: 2px solid #62584d;
  width: 100%;
  margin-bottom: 14px;
  background-color: #e3deda;
  font-size: 12px;
  font-family: Helvetica;
  font-weight: bold;
}

tr {
  border-bottom: 1px solid #62584d;
}

tr:last-of-type {
  border-bottom: 0px;
}

th {
  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica;
  padding: 6px;
  text-align: left;
  border-left: 1px solid #62584d;
}

th:first-of-type {border-left: none;}

th:nth-of-type(n+2) {
  font-size: 10px;
  font-weight: normal;
  text-align: center;
}

td:first-of-type {border-left: none;}

td {
  border-left: 1px solid #62584d;
  padding: 1px 6px;  
}

/* Sheet layout format */

.sheet-container {
  min-width: 640px;
  max-width: 800px;
}

.sheet-box-1 {
  width: 33%;
  float: left;
  padding-right: 0.8%;
}

.sheet-box-2 {
  width: 67%;
  float: left;
  padding-left: 0.8%;
}

.sheet-box-3 {
  width: 67%;
  float: left;
  padding-right: 0.8%;
}

.sheet-box-4 {
  width: 33%;
  float: left;
  padding-left: 0.8%;
}

.sheet-clear {
  clear: both;
}

.sheet-tab-radiation {
  width: 48.5%;
  float: left;
}

.sheet-tab-experience {
  width: 49%;
  float: right;
}

/* Individual table formats */

.sheet-tab-attributes, 
.sheet-tab-skills, 
.sheet-tab-radiation,
.sheet-tab-experience,
.sheet-dark-cells, 
.sheet-tab-weapons td:last-of-type {
  background-color: #a29a94;
}

.sheet-tab-trauma tr:nth-of-type(2),
.sheet-tab-trauma tr:nth-of-type(4),
.sheet-tab-trauma tr:nth-of-type(8) {
  /*border-bottom: none;*/
}

.sheet-tab-attributes td {
  border-left: none;
  font-size: 14px;
}

.sheet-tab-personal col:first-of-type {
  width: 59%;
}

.sheet-tab-personal span {
  padding-top: 6px;
  float: left;
}


/* Adjust textbox widths for Appearance Table */
.sheet-tab-appearance tr:nth-of-type(2) input {
  /*width: 20%;*/
}

.sheet-tab-appearance tr:nth-of-type(3) input {
  /*width: 50%;*/
}
/**********************************/
